// Define variables for your color scheme

// For example:
$my-red: #EE5F5B;
$my-blue: #6797e2;
$my-yellow: #FDB631;
$my-orange: #E67E22;
$my-green: #43b917;
$my-gray: #000000;
$my-light-gray: #F4F4F4;


